body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;

}

.main {
    padding: 0;
}

.navbar a {
    color: white;
    font-size: 25px;
}

.jumbotron {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(17, 82, 115, 0.73)), url('../images/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container {
    animation-name: slide-up;
    animation-duration: 2s;
    animation-timing-function: linear;
    text-align: center;
}

.title-container h1 {
    font-size: 5rem;
}

.title-container h3 {
    font-size: 3rem;
}

.fa-sort-down {
    font-size: 100px;
}

.secondary-content {
    padding: 10px;
    color: white;
}

.about-intro {
    background-color: rgba(10, 77, 209, .9);
    height: auto;
    padding: 10px 15px;
}

.about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic-div {
    display: flex;
    justify-content: center;
}

.about-pic {
    border-radius: 100%;
}

.tech-stack-container {
    background-color: rgba(17, 82, 115, 0.73);
    margin-top: 10px;
}

.tech-stack-container h3 {
    text-align: center;
}

.secondary-content h2 {
    text-align: center;
    font-size: 3rem;
}

.skill-icons {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

.colored {
    font-size: 90px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    margin: 5px 3px;
}

.project-img {
    height: auto;
    width: 100%;
}

.project-card {
    position: relative;
    margin: 5rem auto;
    background-color: #fff;
    color:#fff;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 0;
  }
  
  .details {
    position: absolute;
    top: auto;
    bottom: 0;
    opacity: .6;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: rgba(0, 2, 5);
    padding: 15px;
    -webkit-transform: translateY(80%);
            transform: translateY(80%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
  }
  
  .slide-up:hover .details {
    opacity: .6;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
  }
  
  
  

@keyframes slide-up {
    0% {
      margin-top: 100%;
      width: 300%;
    }
  
    50% {
      margin-top: 50%;
      width: 200%;
    }
    100%{
        margin-top: 0;
      width: 100%;
    }
}



