html {
	scroll-behavior: smooth;
  }

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
	background-color: #f3f3f3;
}

.main {
    padding: 0;
}

.navbar {
	background-color: #050573;
}

.navbar a {
    color: white;
    font-size: 25px;
}

.nav-name {
	font-weight: bold!important;
	font-size: 35px!important;
}

.fa-bars {
	color: white;
	font-size: 30px;
}

.navbar-toggler {
	border: 2px solid white;
}

.jumbotron {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(17, 82, 115, 0.73)), url('../images/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container {
    animation-name: slide-up;
    animation-duration: 2s;
    animation-timing-function: linear;
    text-align: center;
}

.title-container h1 {
    font-size: 5rem;
}

.title-container h3 {
    font-size: 3rem;
}

.arrow-link,
.arrow-link:hover {
	color: white;
}

.fa-sort-down {
    font-size: 100px;
	cursor: pointer;
}

.secondary-content {
    padding: 10px;
    color: black;
}

.secondary-content h1 {
    text-align: center;
    font-size: 4rem;
	color: black;
}

.about-intro {
    background-color: white;
    height: auto;
    padding: 20px 25px;
	height: auto;
	margin-bottom: 100px;
	display: flex;
    align-items: center;
}

.page-content {
	margin: 30px;
}

.about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-description p {
	font-size: 1.5rem;
	margin: 0;
}

.pic-div {
    display: flex;
    justify-content: center;
}

.about-pic {
    border-radius: 100%;
}

blockquote {
	margin-top: 5px;
	color: #0505ca;
}

blockquote span {
	font-size: 1.2rem;
	font-weight: bold;
}

.tech-stack-container {
	background-color: #050573;
	display: flex;
	align-items: baseline;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	min-height: 80vh;
}

.tech-stack-container h1 {
	color: white;
	font-size: 4rem;
	margin: 0 auto;
}

.skill-container {
	margin-top: 50px;
}

.skill-icons {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.colored {
    font-size: 90px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    margin: 5px 3px;
}

.projects {
	margin-top: 50px;
}

.projects-row {
	background-color: white;
	padding: 10px;
}

.projects h2 {
	text-align: center;
	font-size: 3rem;
}

.project {
	padding: 0;
	margin: 10px auto;
}

.project-img,
.overlay {
	border-radius: 10px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #050573b8;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	display: flex;
	flex-direction: column;
	padding: 0 5px 0 5px;
	color: white;
  }

.overlay h3 {
	text-align: center;
}

.button-box {
	margin: 0 auto;
}

.button-box button {
	display: inline;
	margin: 0 auto;
}

.project-button a,
.project-button a:hover {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.project-button {
	border-color: #12e012;
	border-width: 2px;
}

.project-button:hover {
	border-color: #12e012;
	background-color: #12e012;
}

.project:hover .overlay {
	height: 100%;
	display: flex;
	justify-content: center;
	padding: 5px;
}

.contact {
	background-color: #050573;
	min-height: 70vh;
	display: flex;
    justify-content: center;
    flex-direction: column;
	color: white;
}

.contact h1 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 70px;
}

.contact-container {
	display: flex;
	justify-content: center;
}

.contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-icon {
	font-size: 3rem;
}



span a {
	color: white;
	font-size: 2rem;
}

span a:hover {
	text-decoration: none;
}

@keyframes slide-up {
    0% {
      margin-top: 100%;
      width: 300%;
    }
  
    50% {
      margin-top: 50%;
      width: 200%;
    }
    100%{
        margin-top: 0;
      width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
	.about-description p {
	  font-size: 1rem;
	}
  }

  @media only screen and (max-width: 990px) {
	.about-pic {
		height: 350px;
		width:350px;
	}

	.about-intro {
		padding: 10px;
	}

	.colored {
		font-size: 50px;
		padding: 10px;
	}
  }

  @media only screen and (max-width: 380px) {
	.title-container h1 {
		font-size: 3rem;
	}
	
	.title-container h3 {
		font-size: 1rem;
	}
  }

  @media only screen and (max-width: 560px) {
	.overlay h3 {
		font-size: 1.2rem;
	}

	.overlay p {
		font-size: 1rem;
	}
  }

  @media only screen and (max-width: 470px) {
	.project-descrtiption {
		display: none;
	}
  }

