html {
	scroll-behavior: smooth;
  }

body {
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
	/* background-color: #000e4e; */
	background-color: #f3f3f3;
}

.main {
    padding: 0;
}

.navbar a {
    color: white;
    font-size: 25px;
}

.jumbotron {
    background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(17, 82, 115, 0.73)), url('../images/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container {
    animation-name: slide-up;
    animation-duration: 2s;
    animation-timing-function: linear;
    text-align: center;
}

.title-container h1 {
    font-size: 5rem;
}

.title-container h3 {
    font-size: 3rem;
}

.arrow-link,
.arrow-link:hover {
	color: white;
}

.fa-sort-down {
    font-size: 100px;
	cursor: pointer;
}

.secondary-content {
    padding: 10px;
    color: black;
}

.about-intro {
    background-color: white;
    height: auto;
    padding: 20px 25px;
	height: auto;
	margin-bottom: 100px;
	display: flex;
    align-items: center;
}

.page-content {
	margin: 30px;
}

.about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-description p {
	font-size: 1.5rem;
	margin: 0;
}

.pic-div {
    display: flex;
    justify-content: center;
}

.about-pic {
    border-radius: 100%;
}

blockquote {
	margin-top: 5px;
	color: green;
}

blockquote span {
	font-size: 1.2rem;
	font-weight: bold;
}

.tech-stack-container {
    background-color: rgb(230 230 230);
    margin-top: 10px;
	-webkit-box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);

}

.tech-stack-container h3 {
    text-align: center;
}

.secondary-content h1 {
    text-align: center;
    font-size: 4rem;
	color: black;
}

.skill-icons {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

.colored {
    font-size: 90px;
    background-color: white;
    border-radius: 100%;
    padding: 20px;
    margin: 5px 3px;
}

.projects {
	background-color: rgb(230 230 230);
	-webkit-box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);

}

.projects h2 {
	text-align: center;
	font-size: 3rem;
}

.project {
	padding: 0;
}

.project-img,
.overlay {
	border-radius: 10px;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008bbad8;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
	display: flex;
	flex-direction: column;
	padding: 0 5px;
  }

  .project:hover .overlay {
	height: 100%;
  }

  .contact h2 {
	  text-align: center;
  }

.contact-container {
	background-color: rgb(230 230 230);
	display: flex;
	justify-content: center;
	-webkit-box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 22px -5px rgba(0,0,0,0.75);

}

  .contact-info {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
  }

.contact-icon {
	font-size: 3rem;
}



span a {
	color: black;
	font-size: 2rem;
}

span a:hover {
	text-decoration: none;
}

@keyframes slide-up {
    0% {
      margin-top: 100%;
      width: 300%;
    }
  
    50% {
      margin-top: 50%;
      width: 200%;
    }
    100%{
        margin-top: 0;
      width: 100%;
    }
}



